<div class="page-header">
    <div class="row">
        <div class="col-sm-4">
            <h1>Task List ({{todoCount}})</h1>
            <p class="lead"></p>
        </div>
        <div class="col-sm-8">
            <div class="list-group">
                <div class="list-group-item well" *ngFor="#task of tasks">
                    <div class="row-action-primary">
                        <i class="material-icons">done</i>
                    </div>
                    <div class="row-content">
                        <div class="action-secondary"><i class="material-icons">edit</i></div>
                        <h4 class="list-group-item-heading">{{task.name}}</h4>
                        <p class="list-group-item-text">{{task.notes}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>