<div class="page-header">
    <div class="row">
        <div class="col-sm-4">
            <h1>Angular 2 Quickstart</h1>
            <p class="lead">Angular 2 Typescript Gulp</p>
        </div>
        <div class="col-sm-8">
            <div class="jumbotron">
                <h1>Todo Sample App</h1>
                <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
                    featured content or information.</p>
                <p>
                    <a class="btn btn-primary btn-lg" [routerLink]="['TaskList']">Get started</a>
                </p>
            </div>
        </div>
    </div>
</div>